# SERVER
HTTP_PORT=8000

# LOGS
LOG_PRETTY=false
LOG_LEVEL='info'

# DATA BASE
MYSQL_PORT=3306
MYSQL_USER=root
DB_HOST=localhost
MYSQL_PASSWORD=password
MYSQL_DATABASE=autoReply

#KAFKA TOPICS
INCOMING_MESSAGE='incomingMessage'
OUTGOING_MESSAGE='outgoingMessage'

KAFKA_EVENTS_BROKERS=localhost:9092

GROUP_ID=stats

SECRET_JWT=loooongSecret

CRON_TIME_NIGHT=0 1 * * *
CRON_TIME_DAY=0 11 * * *

PRIVATE_KEY=key
CLIENT_EMAIL=email

