# SERVER
HTTP_PORT=8000

# BOT
BOT_TOKEN=YOUR_BOT_TOKEN
WEBHOOK_HOST=https://somebestbots.com

# LOGS
LOG_PRETTY=false
LOG_LEVEL='info'

# DATA BASE
MYSQL_PORT=3306
MYSQL_USER=root
DB_HOST=localhost
MYSQL_PASSWORD=password
MYSQL_DATABASE=autoReply
